/*
	Theme variables
*/
/* font */
$default_font:								'Roboto', sans-serif;
$default_font2:								'Poppins', sans-serif;
$default_font_icon:							'electrician';
/* default */
$default_bg_color:							#ffffff;
$default_text_color:						#7b7b7b;
$default_color:								#f47629;
$default_color02:							#303442;
$default_color03:							#a0a0a0;


$link_color_base:							$default_color;
$speed:										0.2s;
$border:									#e9e9eb;
$border_small:								2px;
$radius:									4px;

